*{
    margin: 0;
    padding: 0;
    border: 0;
}

.tela-login{
    background-color: #000080;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 40%;
    padding: 30px;
    border-radius: 15px;
}

h1{
    color: #ffff;
    text-align: left;
    height: 60px;
}

.tela-login input{
    padding: 8px;
    border: none;
    border-radius: 10px;
    outline: none;

}

.tela-login button{
    background-color:#c7c7c7 ;
    padding: 8px;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 50%;
    cursor: pointer;
    text-decoration: none;
}

.tela-login button a{
    text-decoration: none;
    color: #000000;
}

.tela-login button:hover{
    background-color: #a0a0a0;
}