body {
  background-image: url(../img/chat.png);
  background-size: auto;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 3px solid #000000;
  border-radius: 50px;
}
header {
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #007bff;
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.title h1 {
  margin: 0;
  font-size: 24px;
}

.input-group {
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* align items horizontally */
}

.continue-button {
  margin-top: 20px; /* Adjust as needed */
  text-align: center; /* Align the button itself */
}

.continue-button button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.link-login {
  text-align: center;
}

.link-login a {
  color: #007bff;
  text-decoration: none;
}

.link-login a:hover {
  text-decoration: underline;
}
