

body {
    background-image: url(../img/veleiro.png);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid white;
  }

  .logo{
    display: flex;
    color: #4B0082;
    justify-content: left;
    text-align: left;
    padding: 0 15px;
  
  }

  .container {
    background-color: #fff;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 3px solid #000000;
    border-radius: 50px;
  }

  h1{
    text-align: center;
  }

.mensagem{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0092c4;
    border-radius: 5px;
    margin: 10px 50px;
    height: 50px;
    
}

.codigo label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmar-button{
    margin-top: 20px; 
  text-align: center; 
}

.confirmar-button button {
    padding: 10px 20px;
    background-color: #0092c4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

 

  .confirmar-button button a{
    text-decoration: none;
    color: #fff;
  }

  .reenviar-button{
    margin-top: 20px; 
  text-align: center; 
}
.reenviar-button button {
    padding: 10px 20px;
    background-color: #03bb85
    ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .reenviar-button button:hover{
    background-color: #32c595;
    
  }

  .reenviar-button button a{
    text-decoration: none;
    color: #ffffff;
  }