body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    flex-wrap: wrap;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 260px; 
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-content {
    padding: 20px;
    text-align: center; 
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px; 
}

.legenda {
    margin-top: 20px;
    text-align: center;
}

.legenda h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.legenda a {
    margin: 0 10px;
    text-decoration: none;
}

.legenda img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.legenda img:hover {
    transform: scale(1.2);
}

footer.rodape {
    background-color: #0077cc;
    color: #fff;
    position: fixed;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.butao {
    text-align: center;
}

.butao a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #27517e;
    transition: background-color 0.3s;
}

.butao a:hover {
    background-color: #18406b;
}