/* Estilos gerais */
body {
    background-image: url(../img/veleiro.png);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Cabeçalho e Navegação */
  header {
    background-color: #0077cc;
    color: white;
    padding: 1em 0;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Contêiner Principal */
  .container {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .arrow-button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 1em;
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    border-radius: 5px;
    margin-bottom: 1em;
    cursor: pointer;
  }
  
  .arrow-button .arrow {
    float: right;
  }
  
  .hidden-text {
    display: none;
    padding: 1em;
    border: 1px solid #0077cc;
    border-radius: 5px;
    margin-bottom: 1em;
  }
  
  footer {
    text-align: center;
    padding: 1em;
    background-color: #0077cc;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  