
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin-top: 50px; 
}

h1 {
  text-align: center;
  color: #000000;
}

.container {
  padding: 20px; 
  margin: 20px auto; 
  max-width: 800px; 
  border-radius: 8px; 
  background-color: #0077cc; 
  color: #ffffff;
  font-size: 17px; 
  text-align: center;
}

.paragrafos {
  margin-bottom: 20px;
}

.paragrafos p {
  line-height: 1.6;
}

footer.rodape {
  background-color: #0077cc;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.butao {
  text-align: center;
}

.butao a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #33659b;
  transition: background-color 0.3s;
}

.butao a:hover {
  background-color: #2c4661;
}
