
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pagina_acessada{
  color: wheat;
}

header {
background-color: #0077cc;
color: white;
padding: 1em 0;
text-align: center;
}

nav a {
color: #fff;
text-decoration: none;
margin: 0 1rem;
padding: 0.5rem 1rem;
border-radius: 5px;
transition: background-color 0.3s;
}

nav a:hover {
background-color: #0b3d91;
}

nav a#pagina_acessada {
background-color: #0b3d91;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color: #000000;
  margin-top: 30px; 
}

.container {
  padding: 20px; 
  margin: 20px auto; 
  max-width: 800px; 
  border-radius: 8px; 
  background-color: #0077cc; 
  color: #ffffff;
  font-size: 17px; 
  text-align: center;
}

.paragrafos {
  margin-bottom: 20px;
}

.paragrafos p {
  line-height: 1.6;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #0077cc;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}